NEXT_PUBLIC_SUPABASE_URL=https://vogsiirxopufzgbkjenq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvZ3NpaXJ4b3B1ZnpnYmtqZW5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNzA2NjMsImV4cCI6MjA4NzY0NjY2M30.BO2GT1xbsr90qaRD-EAlitUDMy-GQA9C447wF7vC-aQ
NEXT_PUBLIC_APP_URL=https://prontoja.vercel.app
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_SUBSTITUA
